/* Inspiration from http://www.ericwadkins.com/ */

body,
html {
  width: 100%;
  height: 100%;
}

.container{
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

h1{
    color: white;
    font-size: 60px; 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

h2{
    color: black;
    font-size: 30px;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; 

}

h3{
    color: #68c174; 
}  


h4{
    color: black;
}

hr{ 
    border: 1px solid black;
}




/* Header CSS */
.headarea {
    text-align: center;
    height: 100%;
    color: white;
    background-color: black;
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url("../media/background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    background-position: left center;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
}

.header-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#profile_pic{
    border-radius: 50%;
    border: 8px solid white;
    width: 250px;
}

.secondary-header{
    color: white;
    font-size: 20px;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; 
}


/* Navigation CSS */

.fix-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}



.nav-bar{
    background-color: black;
    overflow: hidden;
    padding: .5rem 1rem;
}

.headname{
    display: inline-block;
    color: white;
    font-size: 35px; 
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-top: 10px;
}

.nav-items{
    text-align: center;
}

ul.nav-list {
    list-style-type: none;
    display: inline-block;
    margin-left: 10em;
}
  
li.nav-item {
    display: inline-block;
}
  
li.nav-item a {
    color: white; 
    text-decoration: none;
    text-transform: uppercase;
    padding: 0em 1.5em;
}
  
li.nav-item a:hover {
    background-color: transparent;
    color: green;
}

@media screen and (max-width: 800px){
    ul.nav-list{
        display: flex;
        text-align: center;
        margin: 0;
        padding: 0;
        flex-direction: column; 
    }

}

/* about me section css */
.about-content{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.bio-content{
    width: 20%;
    text-align: left;
    padding-right: 4rem;
}

.bio-content h2{
    text-align: center;
}
.rit-logo{
    width: 250px;
}

@media screen and (max-width: 800px) {
    .about-content{
        flex-direction: column;
    }
    .bio-content{
        width: 50%;
        text-align: center;
    }
}    


/* Work Experience */
#experience{
    background-color: #EEEEEE;
    padding: 2rem;

}

#experience h2{
    text-align: center;
}  
#experience h3{
    padding-top: 2rem;
    text-align: center;
} 

.coops{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 6rem;
}


.catercoop{
    width: 40%;
    text-align: center;
    margin-right: 1rem;
}
.msacoop{
    width: 40%;
    text-align: center;

} 
.msacoop h4{
    margin: 0;
}


@media screen and (min-width: 1200px) {
   .catercoop{
        width: 20%;
        text-align: center;
    }
    .msacoop{
        width: 20%;
        text-align: center;
    } 
    #catertrax-logo{
        width: 50%;
    } 
    #msasafety-logo{
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    #experience h2{
        text-align: center;
    }  
    #experience h3{
        padding-top: 2rem;
        text-align: center;
    }
   .coops{
       flex-direction: column;
   }
   .catercoop{
        width: 50%;
        text-align: center;
    }
    .msacoop{
        width: 50%;
        text-align: center;
    } 
}

/* Skills */
#skills{
    padding: 2rem;
}

#skills h2{
    text-align: center;
}

.skills-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.skill-item{
    padding: 0em 1.5em;
}
@media screen and (max-width: 800px) {
   .skills-content{
       flex-direction: column;
       text-align: center;
       flex-wrap: nowrap;
   }

}


/* Projects */

#projects{
    padding: 2rem;
    background-color: #EEEEEE;
}

#projects h2{ 
    text-align: center;
}

.proj img{
    max-width: 100%;
    box-shadow:5px 5px 5px #999;
    background-color: rgba(33, 37, 41, 0.2);
    z-index: 1;
    position: relative;
}

.project-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 2.5rem;
    padding-bottom: 6rem;
    
}

.text-cover .text-descrip{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(33, 37, 41, 0.5);
}
.break {
    flex-basis: 100%;
    height: 0;
  }

.proj{
    
    position: relative;
    overflow: hidden;
    margin: .5rem;
}

.proj h3{
    font-size: 18px;
    font-weight:bolder;
}

.para{
    padding: 0em 1.5em;
}
.text-descrip{
    position: absolute;
    width: 100%;
    font-size: 14px;
    color:white;
}



@media screen and (max-width: 800px) {
    .text-descrip{
        line-height: 1.2; 
        font-size: 15px;
    }

}
/* contact css */
#contact{
    background-color: black;
    color: white;
    overflow: hidden;
    padding: .5rem 1rem;
}

.bottom-contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-left: 4rem;
}


.contact-item{
    padding: 0em 1.5em;
}

.header-contact h2{
    color: white;
    font-size: 25px;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}


.contact-item a{
    color: white; 
    text-decoration: none;
}


.links{
    border-radius: 100%;
    border: 8px solid white;
    width: 35px;
}

.backtotop:hover {
    color: green;
}
  

@media screen and (max-width: 800px) {
    .bottom-contact {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .contact-items{
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
    }
    .contact-item{
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

}


body{
    background-color: white; 
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
} 

/* About me paragraphs */
.bio{
    text-indent: 30px;
    line-height: 1.6;
}

/* education  */
.ms, .bs {
    line-height: 1.6;
}  

/* coop */
.coops{
    line-height: 1.6;
    
}

/* job name and location adjustment */
.coop{
    margin-bottom: 5px;
}
/* coop description */
.desc {
    margin-top: 0;  
}
 /* projects line height adjustment*/
#projects{
    line-height: 1.6; 
}




/* a:link {
    color: rgb(4, 94, 64);
}
  

a:visited {
    color: rgb(54, 3, 112);
}
  

a:hover {
    color: #DA7B93;
}
  

a:active {
    color: #EFC7B7;
}  */